body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #f1c40f;
  color: white;
  padding: 20px 40px;
  position: relative;
}

a:before {
  content: 'Hover Me';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #2ce771;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

a:after {
  content: 'Hover Me';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

a:hover:before, a:hover:after {
  transform: rotateX(0deg);
}