 body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EA2027;
}

h1 {
	color: white;
	font-size: 50px
}

span:before {
	content: '';
	text-transform: uppercase;
	font-family: arial;
	color: #1B1464;
	animation: word-switch 15s infinite linear backwards;
}

@keyframes word-switch {
	0% { content: 'transitions' }

	33% { content: 'animations' }

	66% { content: 'transforms' }

	100% { content: 'transitions' }
}




