body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  text-align: center;
  color: #262626;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #262626;
  padding: 40px 80px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

a:before {
  content: 'Hover Me';
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: white
}

a + a {
  margin-left: 15px;
}

a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #262626;
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: top;
}

a:hover span {
  transform: scaleY(1);
}

span:nth-child(2) {
  left: 25%;
  transition-delay: 0.15s;
}

span:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}

span:nth-child(4) {
  left: 75%;
  transition-delay: 0.45s;
}

